<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Id card no</th>
      <th>Room</th>
      <th>Check in at</th>
      <th>Check out at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.age %></td>
        <td><%= customer.ID_card_no %></td>
        <td><%= customer.room.room_no %></td>
        <td><%= customer.check_in_at %></td>
        <td><%= customer.check_out_at %></td>
        <td><%= link_to 'Show', customer, :class=>"btn btn-primary" %></td>
        <td><%= link_to 'Edit attributes', edit_customer_path(customer), :class=>"btn btn-success" %></td> 
        <td>
          <% if customer.check_out_at.blank? %>
           <%= link_to 'Check out', check_out_customer_path(customer), :class=>"btn btn-warning" %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Customer and check in', new_customer_path %>
