<p id="notice"><%= notice %></p>

<p>
  <strong>Room no:</strong>
  <%= @room.room_no %>
</p>

<p>
  <strong>Is occupied:</strong>
  <%= @room.is_occupied %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
