<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>


  <body class="container-fluid">
    <h1> Hotel management </h1>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/room_types">Manage Room types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rooms">Manage all Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rooms/available">View available rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customers">Manage/ Check-in Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/find_customers">Find customers</a>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
